<%= form_for(@bill) do |f| %>
  <% if @bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% @bill.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
 
  <div class="field">
    <%= f.label :limit_date %><br>
    <%= f.date_select :limit_date %>
  </div>
   
  <div class="field">
    <%= f.label :status %><br>
    <%= f.collection_select :status, Bill::Status, :to_s, :titleize %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
